<launch>
    <node name="AprilROSNode" pkg="roscpp_apriltag" type="AprilROSNode" clear_params="true" output="screen">
	    <remap from="image" to="$(optenv IMAGE /camera/image_raw)" />
        	<remap from="pose" to="pose"/>
	    <rosparam file="$(find roscpp_apriltag)/FixParams.yaml"/>
    </node>
</launch>

